# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
build
out

# Turbo
.turbo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/extensions.json
.idea

# Prisma
packages/database/prisma/migrations/*.js

# Uploads
apps/api/uploads/

# Puppeteer
.local-chromium/
